{% extends 'blog/base.html' %}
 
{% block title %}
{{post.title}} | Broadside
{% endblock %}


{% block content %}
<h1>{{post.title}}</h1>
<small>
    By <strong>{{post.author}}</strong> - 
    {{post.date_created}}

</small>
<hr>

<br><br>
{{post.body}}

<br><br><br>
<br>
<a class="btn btn-info" href="{% url 'update_post' post.pk %}">Edit Post</a>
<a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete Post</a>

<br> <br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>

{% endblock  %}